doctype html
html
   head
      link(rel="stylesheet" href="styles/spa.min.css")
   body(ng-app="spa")
      #main.container
         #app-view(ui-view)
   script(type="text/javascript", src="scripts/vendors.js")
   script(type="text/javascript", src="scripts/spa.bundle.js")
